.git
node_modules
.next
.env
.env.*
application-local.properties
application-local.yml
application-local.yaml
secrets
**/secrets/**
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.jks
**/*.keystore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
