<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <springProperty scope="context" name="logstashHost" source="spring.logstash.host" defaultValue="localhost"/>
    <springProperty scope="context" name="logstashPort" source="spring.logstash.port" defaultValue="5000"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>${CONSOLE_LOG_PATTERN}</pattern></encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${logstashHost}:${logstashPort}</destination>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/><version/><message/><loggerName/><threadName/><logLevel/><stackTrace/><contextName/>
                    <arguments><includeNonIndexedArguments>true</includeNonIndexedArguments></arguments>
                    <pattern>
                        <pattern>
                            { "service_id": "${appName}", "trace_id": "%mdc{traceId}", "span_id": "%mdc{spanId}" }
                        </pattern>
                    </pattern>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="LOGSTASH"/>
        </root>
    </springProfile>
</configuration>
