<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 테스트는 외부 Logstash 연결 없이 콘솔에만 기록해 종료 대기와 환경 의존을 없앱니다. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
